body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("../assets/images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Title of project styles */
h1 {
  font-size: 80px;
  margin-bottom: 100px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(252, 252, 252),
    0 0 5px rgb(253, 253, 253);
}

/* Lights styles */
.circle-container {
  display: flex;
}

.circle {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  margin: 0 20px;
}

.circle:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #011f01;
  border-radius: 0 0 10px 10px;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.circle:after {
  content: "";
  position: absolute;
  width: 84px;
  height: 28px;
  top: -25px;
  left: 48px;
  border-bottom: solid #011f01 2px;
  border-radius: 50%;
}

.circle.no-line::after {
  display: none;
}

.circle:nth-child(1) {
  background-color: #ff0000;
  animation: glow1 1s infinite;
}

.circle:nth-child(2) {
  background-color: #ff8000;
  animation: glow2 1s infinite;
}

.circle:nth-child(3) {
  background-color: #ffff00;
  animation: glow3 1s infinite;
}

.circle:nth-child(4) {
  background-color: #80ff00;
  animation: glow4 1s infinite;
}

.circle:nth-child(5) {
  background-color: #00ff00;
  animation: glow5 1s infinite;
}

.circle:nth-child(6) {
  background-color: #00ff80;
  animation: glow6 1s infinite;
}

.circle:nth-child(7) {
  background-color: #00ffff;
  animation: glow7 1s infinite;
}

.circle:nth-child(8) {
  background-color: #0080ff;
  animation: glow8 1s infinite;
}

.circle:nth-child(9) {
  background-color: #0000ff;
  animation: glow9 1s infinite;
}

.circle:nth-child(10) {
  background-color: #8000ff;
  animation: glow10 1s infinite;
}

.circle:nth-child(11) {
  background-color: #ff00ff;
  animation: glow11 1s infinite;
}

.circle:nth-child(12) {
  background-color: #ff0080;
  animation: glow12 1s infinite;
}

/* Lights glow effect styles */
@keyframes glow1 {
  0%,
  100% {
    box-shadow: 0 0 20px 10px #ff0000;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes glow2 {
  0%,
  100% {
    box-shadow: 0 0 20px 10px #ff8000;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes glow3 {
  0%,
  100% {
    box-shadow: 0 0 20px 10px #ffff00;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes glow4 {
  0%,
  100% {
    box-shadow: 0 0 20px 10px #80ff00;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes glow5 {
  0%,
  100% {
    box-shadow: 0 0 20px 10px #00ff00;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes glow6 {
  0%,
  100% {
    box-shadow: 0 0 20px 10px #00ff80;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes glow7 {
  0%,
  100% {
    box-shadow: 0 0 20px 10px #00ffff;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes glow8 {
  0%,
  100% {
    box-shadow: 0 0 20px 10px #0080ff;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes glow9 {
  0%,
  100% {
    box-shadow: 0 0 20px 10px #0000ff;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes glow10 {
  0%,
  100% {
    box-shadow: 0 0 20px 10px #8000ff;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes glow11 {
  0%,
  100% {
    box-shadow: 0 0 20px 10px #ff00ff;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes glow12 {
  0%,
  100% {
    box-shadow: 0 0 20px 10px #ff0080;
  }
  50% {
    box-shadow: none;
  }
}

/* On and Off buttons styles */
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.buttons button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 15px;
  border: 2px solid #36454f;
  background-color: #fffffa;
  transition-duration: 0.4s;
}

.buttons button:hover {
  background-color: #011f01;
  color: #ffffff;
  border: 2px solid #e7e7e7;
}

/* Speed slider of glow effect styles */
.slider-container {
  width: 230px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  border: 2px solid #36454f;
  padding: 10px;
  background-color: #fffffa;
  border-radius: 15px;
  position: relative;
}

.slider-container .slider-label {
  margin-right: 10px;
  flex: 1;
  white-space: nowrap;
}

input[type="range"] {
  width: 100px;
  border: none;
  background-color: #fffffa;
}

/* Snow effect styles */
.snowflakes-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  animation: snow 10s linear infinite;
}

.snowflake {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  animation: fall 10s linear infinite;
  box-shadow: 0 0 10px #ffffff;
  pointer-events: none;
  user-select: none;
  z-index: -1;
  left: calc(100% * var(--random-x));
}

@keyframes fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes snow {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
}

/* Music player styles */
.music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

#album-cover-img {
  width: 200px;
  height: 150px;
  margin-bottom: 10px;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  object-fit: cover;
}

.music-details {
  text-align: center;
}

#song-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

#artist,
#album {
  font-size: 14px;
  color: #777;
  margin: 0;
  margin-bottom: 10px;
}

/* Timer styles */
.timer {
  font-size: 14px;
  color: #333;
  margin: 20px 0 0;
  order: 1;
}

/* Progress container styles */
.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

/* Progress bar styles */
.progress-bar {
  width: 100%;
  background: #ccc;
  height: 6px;
  border-radius: 2px;
  margin: 10px 0;
  cursor: pointer;
  position: relative;
}

.progress {
  width: 0;
  height: 100%;
  background: #00a8cc;
  border-radius: 2px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  order: 2;
  margin: 10px 0;
}

.music-player button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 60px;
  margin: 5px;
  padding: 5px;
  color: #333;
  transition: color 0.3s;
}

.music-player button:hover {
  color: #00a8cc;
}
